@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@800&display=swap');

:root {
  --background-color: #25263A;
  --input-background: #e0e0e0;
  --button-color: #37B10A;
  --text-color: #ffffff;
  --placeholder-color: #a0a0a0;
  --link-color: #37B10A;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
}

.login-box {
  width: 100%;
  max-width: 360px;
  padding: 2rem;
  box-sizing: border-box;
}

.logo-container {
  text-align: center;
  margin-bottom: 2rem;
}

.logo {
  width: 100%; 
  height: auto; 
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-group label {
  display: block;
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 12px;
}

.input-group input {
  width: 100%;
  padding: 0.9rem;
  border: none;
  border-radius: 5px;
  background-color: #e0e0e0;
  font-size: 1rem;
  color: #333;
  box-sizing: border-box;
}

.input-group input::placeholder {
  color: #a0a0a0;
}

.input-group input:focus::placeholder {
  color: transparent;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  padding-right: 40px;
}

.password-toggle-icon {
  position: absolute;
  right: 15px;
  cursor: pointer;
  color: #888;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-button {
  display: block;
  width: 50%;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: var(--button-color);
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 2rem auto 0 auto;
}

.login-button:hover {
  background-color: #37B10A;
}

.signup-link {
  text-align: center;
  margin-top: 1.5rem;
}

.link-button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: var(--link-color);
  text-decoration: none;
}

.link-button:hover {
  text-decoration: underline;
}

.signup-icon {
  margin-right: 8px;
  font-size: 20px;
}

.error-message {
color: #ee3636; 
text-align: center; 
font-size: 0.9rem;
margin-top: 0.5rem;
font-weight: bold;
}

.admin-button {
  position: fixed; 
  bottom: 25px;   
  right: 25px;   
  
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: #37B10A; 
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.admin-button:hover {
  background-color: #2c8a08; 
  transform: translateY(-2px); 
}

